.fundo-cabecalho {
    width: 100%;
    margin: auto;

    width: 100%;
    background: rgba(196, 196, 196, 0.11);
    backdrop-filter: blur(10px);
    border-bottom: solid 1px rgba(255, 255, 255, 0.452);
}

.centralizar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    max-width: 1000px;
    margin: 0 auto;
}

.centro {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav {
    width: 50%;
}

.nav-ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    display: block;
    color: rgb(255, 255, 255);
    font-size: 1.3em;
    transition: ease-in-out 0.3s;
}

a:hover {
    color: rgb(208, 255, 0);
    font-size: 1.4em;
}

.img-esquerda {
    padding: 15px 0;
}

@media (max-width:950px) {
    .fundo-cabecalho {
        display:none;
    }
    .menu-hamburguer {
        position:absolute;
        top:80px;
        right:55px;
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content:center;
        cursor: pointer;
        background-color:#fcc;
        border-radius:50px;
        width:50px;
        height:50px;
    }
    .menu-hamburguer div {
        width: 32px;
        height: 2px;
        background-color: #fff;
        margin: 3px;
    }

    .nav-ul {
        position:absolute;
        top:8vh;
        right:0;
        width:100vw;
        height:92vh;
        background-color:#ff0;
        flex-direction:column;
        align-items:center;
        justify-content:space-around;
        transform:translateX(100%);
    }
    .nav-ul li {
        opacity:0;
    }
    .nav-ul.ativado {
        transform:translateX(0);
    }
}