.area-atuacao {
    padding: 3.125rem 1.5625rem;
    /* 50px 25px */
    width: 100%;
    background-color: var(--cor-creme);
}

.caixa-geral {
    margin-top: 2.5rem;
    /* 40px */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.caixa {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 1.25rem;
    /* 20px */
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center;
}

.container-saibaMais {
    display:flex;
    flex-direction:column;
    align-items:center;
}

.juridico-empresa {
    background-image: url('../img/setor-juridico-empresa.png');
}

.direito-societario {
    background-image: url("../img/banner-direito-societario.png");
}

.direito-trabalhista-empresas {
    background-image: url("../img/banner-direito-trabalhista-empresas.png");
}
.elaboração-negociação-contratos {
    background-image: url("../img/banner-elaboração-negociação-contratos.jpg");
}
.direito-pessoa-autismo {
    background-image: url("../img/banner-direitos-pessoa-autismo.png");
}
.direito-familia {
    background-image: url("../img/banner-direito-familia.jpg");
}
.resolucao-conflito {
    background-image: url("../img/banner-resolucao-conflito.png");
}

.juridico-empresa,
.direito-societario,
.direito-trabalhista-empresas,
.resolucao-conflito,
.direito-familia,
.direito-pessoa-autismo,
.elaboração-negociação-contratos {
    min-width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    background-size: cover;
    background-position: center;
    border-radius: 0.625rem;
    overflow: hidden;
    color: #fff;
    transition: filter 0.3s ease;
}

.juridico-empresa::after,
.direito-societario::after,
.direito-trabalhista-empresas::after,
.direito-pessoa-autismo::after,
.resolucao-conflito::after,
.direito-familia::after,
.elaboração-negociação-contratos::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    /* ou menos */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
    z-index: 0;
}

.juridico-empresa::before,
.direito-societario::before,
.direito-trabalhista-empresas::before,
.direito-pessoa-autismo::before,
.resolucao-conflito::before,
.direito-familia::before,
.elaboração-negociação-contratos::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    /* overlay escuro */
    z-index: 0;
    transition: background-color 0.3s ease;
}

.textos-caixa-areaAtuacao,
.texto-saiba-mais {
    text-align: center;
    border-bottom: 2px solid transparent;
    position: relative;
    z-index: 1;
    color: #fff;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.7);
}

.botao-saibaMais:hover .juridico-empresa,
.botao-saibaMais:hover .direito-societario,
.botao-saibaMais:hover .direito-trabalhista-empresas,
.botao-saibaMais:hover .resolucao-conflito, 
.botao-saibaMais:hover .direito-familia, 
.botao-saibaMais:hover .direito-pessoa-autismo, 
.botao-saibaMais:hover .elaboração-negociação-contratos {
    filter: brightness(1.15);
    /* Clareia a imagem de fundo */
    background-color: rgb(255, 255, 255);
    /* Clareia o overlay escuro */
    font-size: 1.25rem;
    /* 20px */
}

.botao-saibaMais:hover .titulo-caixa,
.botao-saibaMais:hover .texto-saiba-mais {
    border-bottom: 2px solid var(--cor-dourado);
    color: #fff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.titulo-caixa {
    border-bottom: 2px solid transparent;
    font-family: "times", Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: 600;
    font-size: 1.25rem;
    /* 20px */
}

.titulo-area h6 {
    width: 100%;
    font-size: 1.15rem;
}

.botao-saibaMais {
    width:350px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    /* 15px */
    color: #fff;
    padding: 0.3125rem;
    /* 5px */
    font-weight: 600;
    border-radius: 1.25rem;
    /* 20px */
    border-color: transparent;
}

@media (max-width: 650px) {
    .titulo-caixa {
        font-size: 1.1875rem;
        /* 19px */
    }
    .area-atuacao {
        padding: 20px 5px;
    }
}

@media (max-width: 360px) {
    .botao-saibaMais {
        width:100%;
    }
    .direito-societario {
        width:100%;
    }
}

@media (max-width: 330px) {
    .container-saibaMais {
        width:100%;
    }
    .btn-direito-societario {
        width:100%;
    }
    .juridico-empresa,
    .direito-societario,
    .direito-trabalhista-empresas,
    .resolucao-conflito,
    .elaboração-negociação-contratos,
    .direito-familia,
    .direito-pessoa-autismo {
        min-width:auto;
        width:100%;
    }
}

@media (max-width: 300px) {
    .kamila-img {
        width: 100%;
    }
}