body.modal-aberto {
    overflow: hidden;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

.modal-content {
    background-color: var(--cor-creme);
    max-width: 800px;
    width: 100%;
    padding: 10px 30px 30px 30px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    overflow-y: auto;
    max-height: 90vh;
    position: relative;
    color: #333;
    font-family: 'Arial', sans-serif;
    text-align: justify;
    hyphens: auto;
}
.modal-content::before {
    content: "";
    position: fixed; /* 🔥 fixa a marca d'água */
    top: 50%;
    left: 50%;
    width: 60%;
    height: 30%;
    transform: translate(-50%, -50%);
    background-image: url("../img/logo-con2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    opacity: 0.30;
    pointer-events: none;
    z-index: 0;
}

.caixa-btn-fechar {
    width:100%;
    display:flex;
    justify-content:end;
    align-items:center;
}

.btn-fechar {
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:50%;
    padding:6px;
    height:30px;
    width:30px;
    font-size:35px;
    background-color:var(--cor-bege-claro);
    cursor: pointer;
    color:var(--cor-marrom-escuro);
}

.descricao-caixa-areaAtuacao {
    display:flex;
    flex-direction:column;
    gap:15px;
}

.titulo-modal {
    font-family:sans-serif;
    font-weight:600;
    font-size:1.3rem;
    margin-bottom:5px;
    text-align:start;
}
.texto-modal {
    font-family:sans-serif;
    font-weight:500;
    font-size:1.09rem;
    color: #000;
}

@media (max-width: 510px) {
    .titulo-modal {
        text-align: center;
    }
}