.contato {
    padding: 0px 20px;
    background-color: var(--cor-marrom-escuro);
}

.container-redeSociais-contato .titulo-area h3{
    color:#fff;
}

iframe {
    width: 100%;
    height: 250px;
}

.container-contato {
    display: flex;
    flex-direction:column;
    margin: auto;
}

.container-redeSociais-contato {
    margin: 50px 0;
}

.enderecoMapa {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 2rem;
}

.titulo-mapa {
    color:#fff;
    font-size: 1.4rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.texto-mapa {
    color:#fff;
    display:flex;
    flex-direction:column;
    gap:5px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-align: center;
}

.redeSociais-contato {
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 25px;
    margin-bottom: 25px;
}

.whatsapp-img {
    padding:5px;
    height: 40px;
    border-top-left-radius:50%;
    border-top-right-radius:50%;
    border-bottom-right-radius:50%;
    border-bottom-left-radius:20%;
}

.email-img {
    height: 20px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(253deg) brightness(101%) contrast(103%);
}

.instagram-container img {
    height: 30px;
}

.instagram-container img {
    color: var(--cor-azul-escuro);
    padding: 1px;
    border-radius: 10px;
}

.linkedin-container-contato {
    height: 30px;
    border:2px solid #fff;
    border-radius:13px;
}

.linkedin-container-contato img {
    padding: 5px;
    height: 100%;
    border-radius: 10px;
}

.facebook-container-contato {
    height: 30px;
}

.facebook-container-contato img {
    height: 100%;
    padding: 2px;
    border-radius: 10px;
}

.whatsapp-container img:hover {
    background: #25d366;
}

.linkedin-container-contato img:hover {
    background-color: #0e76a8;
}

.facebook-container-contato img:hover {
    background-color: #3b5998;
}

.instagram-container img:hover {
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}
.email-img:hover {
    filter: brightness(0) saturate(100%) invert(98%) sepia(91%) saturate(1329%) hue-rotate(320deg) brightness(83%) contrast(87%);
}

.texto-contato {
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    font-weight: 500;
    height: 100%;
    display: flex;
    align-items: center;
}

@media (max-width: 950px) {
    .container-contato {
        width: 100%;
    }

    .container-redeSociais-contato {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    iframe {
        height: 350px;
    }
}

@media (max-width: 725px) {
    .container-contato {
        flex-direction: column;
        align-items: center;
    }

    .container-endereco {
        width: 100%;
        text-align: center;
    }

    iframe {
        width: 90%;
    }

    .span-rodape {
        font-size: 1.2rem;
    }
    .container-redeSociais-contato {
        width:100%;
    }
}

@media (max-width: 400px) {
    iframe {
        width: 100%;
    }

    .redeSociais-contato {
        gap: 10px;
    }
}

@media (max-width: 330px) {
    .texto-contato {
        font-size: 1.05rem;
    }
}