.main-politica {
  margin-top:110px;
  font-family:Arial, Helvetica, sans-serif;
}

/* Esconde o checkbox */
.switch input {
  display: none;
}

/* Container do botão */
.switch {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

/* Círculo */
.slider {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  background-color: red; /* vermelho quando off */
  transition: background-color 0.3s;
}

/* Verde quando ativo */
.switch input:checked + .slider {
  background-color: #008000;
}

.ativo {
    background-color:#080;
    cursor:default;
}
.label-ativo {
    cursor: default;
}
.switch-ativo {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: default;
}

/* Texto ao lado */
.label-text {
    font-weight:600;
  font-size: 1rem;
}

.lista-cookie {
    display:flex;
    gap:.2rem;
}
.texto-descricao-label {
    font-size:.95rem;
}

.container-legenda {
    display:flex;
    flex-direction:column;
    gap:.5rem;
}
.caixa-legenda {
    display:flex;
    gap:.5rem;
    align-items:center;
    font-weight:600;
    font-size:0.95rem;
}

.container-btn-cookie {
    display:flex;
    gap:.55rem;
}
.salvar-preferencias,
.excluir-cookies {
    cursor: pointer;
    border-radius:10px;
    padding:5px;
    border:transparent;
    background-color:var(--cor-cobre);
    font-size:.85rem;
    color:#fff;
    font-weight:500;
}
.legenda-cookie-vermelho {
  font-weight: 600;
  color:#f00;
}
.legenda-cookie-verde {
  font-weight: 600;
  color:#080;
}

@media (max-width:750px) {
    .lista-cookie {
        flex-direction:column;
    }
}