footer {
    background-color:var(--cor-marrom-escuro);
    text-align:center;
    border-top:1px solid #4A4A4A;
}

.termos-cookie {
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
    gap:20px;
    padding:1rem 1.2rem;
}

.titulo-caixa-footer {
    font-size:0.7rem;
    color:var(--cor-texto-claro);
}
.titulo-caixa-footer:hover {
    color:var(--cor-laranja-queimado);
}

.botao-cookie,
.botao-politica,
.botao-termos {
    cursor: pointer;
    background-color:transparent;
    border:none;
}

.span-rodape {
    color:#fff;
    font-family: sans-serif;
    font-weight:500;
    font-size: 0.9rem;
    text-align: center;
    padding-bottom:1rem;
}