footer {
    background-color:var(--cor-marrom-escuro);
    text-align:center;
    border-top:1px solid #4A4A4A;
}
.span-rodape {
    color:#fff;
    font-family: sans-serif;
    font-weight:500;
    font-size: 0.9rem;
    text-align: center;
    padding:1rem;
}