/* ====================================
   FOOTER - RESPONSIVO UNIVERSAL
   ==================================== */

footer {
    background-color: var(--cor-marrom-escuro);
    text-align: center;
}

.caixa-footer-cookies {
    border-top:1px solid var(--cor-dourado);
}

.termos-cookie {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 1rem 1.2rem;
}

.titulo-caixa-footer {
    font-size: 0.7rem;
    color: var(--cor-texto-claro);
}

.titulo-caixa-footer:hover {
    color: var(--cor-laranja-queimado);
}

.botao-cookie,
.botao-politica,
.botao-termos {
    font-weight:300;
    text-decoration:none;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.span-rodape {
    color: #fff;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    text-align: center;
    padding-bottom: 1rem;
}

.caixa-geral-termos {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

.container-geral-termos {
    font-weight: 500;
    background-color: var(--cor-creme);
    padding: 10px 30px 30px 30px;
    color: #000;
    font-family: 'Arial', sans-serif;
    text-align: justify;
    hyphens: auto;
}

.container-geral-termos::before {
    content: "";
    position: fixed;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 55%;
    transform: translate(-50%, -50%);
    background-image: url("../img/logo-con2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    opacity: 0.05;
    pointer-events: none;
    z-index: 0;
}

.descricao-caixa-cookie {
    margin-top: 10px;
    list-style:decimal;
    display:flex;
    flex-direction:column;
    gap:1rem;
}
.titulo-termos {
    font-size:1.05rem;
}
.texto-caixa-termos-geral {
    font-size:1.05rem;
    color:#000;
}

.titulo-container-aviso {
    text-align: center;
    font-size:1.4rem;
}

.container-titulo-aviso {
    display:flex;
    flex-direction:column;
    gap:0.5rem;
}

.caixa-descricao-caixa-cookie {
    display:flex;
    flex-direction:column;
    gap:1rem;
}
.container-texto-caixa-termos {
    display:flex;
    flex-direction:column;
    gap:1.5rem;
}
.container-politica-privacidade {
    gap:0.5rem;
    font-size: 0.95rem;
}

.container-caixa-cookie {
    list-style:upper-roman;
    display:flex;
    flex-direction:column;
    gap:1rem;
}

.descricao-caixa-cookie li,
.caixa-politica-privacidade {
    display:flex;
    flex-direction:column;
    gap:0.6rem;
}

.descricao-caixa-cookie {
    list-style:none;
    display:flex;
    flex-direction:column;
    gap:1rem;
}

@media (min-width: 1200px) and (max-width: 1919px) {
    .contato {
        height:calc(100vh - 110px);
    }
}