.fundo-cabecalho {
    height: 110px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--cor-fundo-preto);
}

.centralizador {
    height: 100%;
    width: 1200px;
    display: flex;
}

.centro {
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-esquerda a img {
    height: 100px;
}

.menu-direita {
    width: 50%;
    display: flex;
}

.nav-ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.nav-ul li a {
    text-decoration: none;
    display: block;
    border-bottom: transparent 1px solid;
    color: var(--cor-laranja-queimado);
    font-family: "centaur-regular";
    transition: ease-in-out 0.2s;
    font-size: 21px;
}

.nav-ul li a:hover {
    color: var(--cor-bege-claro);
    border-bottom: var(--cor-bege-claro) 1px solid;
}

.menu-redeSocial {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.instagram img {
    height: 28px;
}

.whatsapp {
    padding: 0 15px;
}

.whatsapp img {
    height: 28px;
}

.icon {
    filter: invert(27%) sepia(78%) saturate(4343%) hue-rotate(334deg) brightness(81%) contrast(86%);
}

.icon:hover {
    filter: invert(45%) sepia(70%) saturate(1800%) hue-rotate(10deg) brightness(100%) contrast(95%);
}

.btn-mobile {
    display: none;
}

@media (max-width: 850px) {
    .menu-direita {
        width: auto;
    }

    .nav-ul {
        display: block;
        position: absolute;
        width: 100%;
        top: 110px;
        right: 0;
        height: 0;
        background-color: var(--cor-fundo-preto);
        z-index: 1000;
        visibility:hidden;
        transition: 0.5s;
        overflow-y:hidden;
    }

    .ativado {
        height: calc(100vh - 110px);
        visibility: visible;
    }

    .nav-ul li a {
        font-family: sans-serif;
        padding: 15px 0;
        border-top: var(--cor-dourado) 1px solid;
        font-size: 27px;
        text-align: center;
    }

    .nav-ul li:nth-last-child(1) {
        border-bottom: var(--cor-dourado) 1px solid;
    }

    .btn-mobile {
        display:flex;
        gap:8px;
        padding:8px 16px;
        font-size:16px;
        border:none;
        background:none;
        cursor:pointer;
        color:var(--cor-dourado);
    }
    .hamburger {
        display:block;
        width:20px;
        border-top:var(--cor-dourado) 2px solid;
    }
    .hamburger::after,
    .hamburger::before {
        content:'';
        display:block;
        width:20px;
        height:2px;
        background-color:currentColor;
        margin-top:5px;
        transition:.3s;
        position: relative;
    }
    .esconde-hamburger .hamburger {
    border-top-color: transparent;
    }
    .esconde-hamburger .hamburger::before {
    transform:rotate(135deg);
    }
    .esconde-hamburger .hamburger::after {
    transform:rotate(-135deg);
    top:-6px;
    }
}