.fundo-cabecalho {
    position: fixed;
    top: 0;
    border-bottom:3px solid var(--cor-dourado);
    z-index:9000;
    height: 110px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--cor-marrom-escuro);
}

.centralizador {
    height: 100%;
    width: 1200px;
    display: flex;
}

.centro {
    padding: 0 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-esquerda a img {
    height: 100px;
}

.menu-direita {
    display: flex;
}

.nav-ul {
    display: flex;
    list-style: none;
    width: 100%;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.nav-ul li a {
    text-decoration: none;
    display: block;
    border-bottom: transparent 1px solid;
    color: var(--cor-fundo-branco);
    font-family: "centaur-regular";
    transition: ease-in-out 0.2s;
    font-size: 1.1rem;
}

.nav-ul li a:hover {
    color: var(--cor-bege-claro);
    border-bottom: var(--cor-bege-claro) 1px solid;
}

.menu-redeSocial {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.instagram img {
    height: 22px;
}

.whatsapp {
    padding-right: 10px;
}

.whatsapp img {
    height: 22px;
}

.icon:hover {
    filter: invert(45%) sepia(70%) saturate(1800%) hue-rotate(10deg) brightness(100%) contrast(95%);
}

.btn-mobile {
    display: none;
}

@media (max-width: 1000px) {
    .nav-ul li a{
        font-size:0.8rem;
    }
}

@media (max-width: 850px) {
    .menu-direita {
        width: auto;
    }

    .nav-ul {
        display: block;
        position: absolute;
        width: 100%;
        top: 110px;
        right: 0;
        height: 0;
        background-color: var(--cor-marrom-escuro);
        z-index: 1000;
        visibility: hidden;
        transition: 0.5s;
        overflow-y: hidden;
    }

    .nav-ul li {
        margin: 20px 0;
        border-top: 1px solid var(--cor-laranja-queimado);
        border-bottom: 1px solid var(--cor-laranja-queimado);
    }

    .nav-ul li:hover {
        border-top: var(--cor-bege-claro) 1px solid;
    }

    .menu-redeSocial {
        justify-content: center;
        gap: 20px;
    }

    .menu-redeSocial .whatsapp a,
    .menu-redeSocial .instagram a {
        border-top: none;
    }

    .menu-redeSocial .whatsapp a:hover,
    .menu-redeSocial .instagram a:hover {
        border-bottom: none;
    }

    .menu-redeSocial .whatsapp a img,
    .menu-redeSocial .instagram a img {
        height: 40px;
    }


    .ativado {
        height: calc(100vh - 110px);
        visibility: visible;
    }

    .nav-ul li a {
        font-family: sans-serif;
        padding: 15px 0;
        font-size: 27px;
        text-align: center;
    }

    .nav-ul li:nth-last-child(1) {
        border-top: var(--cor-dourado) 1px solid;
        border-bottom: var(--cor-dourado) 1px solid;
    }

    .btn-mobile {
        display: flex;
        gap: 8px;
        padding: 8px 16px;
        font-size: 16px;
        border: none;
        background: none;
        cursor: pointer;
        color: var(--cor-laranja-queimado);
    }

    .hamburger {
        display: block;
        width: 20px;
        border-top: var(--cor-laranja-queimado) 2px solid;
    }

    .hamburger::after,
    .hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    .esconde-hamburger .hamburger {
        border-top-color: transparent;
    }

    .esconde-hamburger .hamburger::before {
        transform: rotate(135deg);
    }

    .esconde-hamburger .hamburger::after {
        transform: rotate(-135deg);
        top: -6px;
    }
}