.inicio {
    height: calc(100vh - 110px);
    overflow: hidden;
}

.inicioSection {
    height: 100%;
    overflow: hidden;
}

.inicioSection img {
    height: 100%;
    width: 100%;
}

#back-to-top {
    bottom: 2rem;
    right: 2rem;
    z-index: 1000;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: none;
    transition: opacity 0.3s ease;
}

#back-to-top:hover {
    background-color: #555;
}

.video-banner {
    max-height: calc(100vh - 955px);
    min-height: calc(100vh - 110px);
    width: 100vw;
    overflow: hidden;
}

.video-desktop {
    display: block;
}
.video-ipad {
    display: none;
}
.video-celular {
    display: none;
}
.video-celular source {
    width:100vw;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-cookie-aviso {
    border-top:var(--cor-fundo-branco) 1px solid;
    width:100%;
    z-index:10000;
    position: fixed;
    bottom:0;
    background-color:var(--cor-marrom-escuro);
}

.coluna-cookie {
    padding:0.5rem 1rem;
    display:flex;
    flex-direction:column;
    gap:0.1rem;
}
.container-texto-caixa-cookie {
    text-align:center;
    font-size:0.8rem;
    color:#fff;
    font-family: Arial, Helvetica, sans-serif;
}

.container-cookie-usuario {
    display:flex;
    align-items:center;
    justify-content:center;
    gap:0.9rem;
    width:100%;
}
.caixa-cookie-inicio {
    display:flex;
    align-items:center;
    justify-content:center;
}
.caixa-cookie-aviso {
    display:flex;
    flex-direction:column;
    gap:1rem;
    font-size:0.6rem;
    color:#fff;
    font-family: Arial, Helvetica, sans-serif;
}

.botoes-cookie-salvar {
    display:flex;
    flex-direction:column;
    gap:0.5rem;
}

.btn-aceitar,
.btn-editar-cookie {
    cursor: pointer;
    border-radius:10px;
    padding:5px;
    border:transparent;
    background-color:var(--cor-cobre);
    font-size:.85rem;
    color:#fff;
    font-weight:500;
}
.btn-editar-cookie a {
    text-decoration:none;
    color:#fff;
}

@media (max-width: 1200px) {
    #back-to-top {
        width: 50px;
    }
}

@media (max-width: 1280px) {
    .video-desktop {
        display: none;
    }

    .video-ipad {
        display: block;
    }

    .video-celular {
        display: none;
    }
}
@media (max-width: 685px) {
    .video-desktop {
        display: none;
    }

    .video-ipad {
        display: none;
    }

    .video-celular {
        display: block;
    }
}