.centralizador-main {
    max-width: 1280px;
    margin: auto;
}

.nuvem-whatsapp {
    height:50px;
    width:50px;
}
.whatsapp-contato {
    padding-bottom:10px;
    padding-left:20px;
    bottom: 0;
    position:fixed;
    display: flex;
    gap:1.1rem;
    z-index: 9999; 
}

.icon-flutuante {
    height:100%;
    animation: flutuar 2s ease-in-out infinite;
}
.icon-flutuante:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    border-radius:50%;
}

@keyframes flutuar {
    0% { transform: translateY(0); }
    50% { transform: translateY(-8px); }
    100% { transform: translateY(0); }
}

@media (max-width: 1280px) {
    .whatsapp-contato  {
        width:150px;
        height:60px;
        position: fixed;
    }
}
@media (max-width: 830px) {
    .whatsapp-contato  {
        width:auto;
        height:auto;
    }
}
@media (max-width: 700px) {
    .whatsapp-contato  {
        width:auto;
        height:auto;
    }
}
@media (max-width: 790px) {
    .whatsapp-contato  {
        flex-direction:column-reverse;
    }
}
@media (max-width: 650px) {
    .whatsapp-contato {
        position: fixed;
        bottom:20px;
        left:20px;
        z-index: 9999;
        display: flex;
        align-items: center;
        gap: 1.1rem;
        padding: 0;
        width: auto;
    }

    .icon-flutuante {
        height: 50px;
        width: 50px;
        animation: flutuar 2s ease-in-out infinite;
        z-index: 9999;
        position: relative;
    }

    .nuvem-whatsapp {
        height: 50px;
        width: 50px;
        z-index: 9999;
    }
}
