#sobreNos {
    height: calc(100vh - 100px);
    padding: 3rem 0;
    /* Alterei para rem */
    width: 100%;
    background-color: var(--cor-bege-claro);
    display: flex;
    align-items: center;
    gap: 2rem;
}

.imagem-sobre-nos {
    width: 25rem;
}

.caixa-btn-escritorio {
    display:flex;
    justify-content:center;
}

.sobre-nos-container {
    padding: 0 1rem;
    /* Alterei para rem */
    display: flex;
}

.imagem-sobreNos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}

.titulo-sobreNos h2 {
    font-family: "times", Arial, Helvetica, sans-serif;
    color: var(--cor-titulo);
    font-size: 1.5rem;
    /* Alterei para rem */
    font-weight: 600;
}

.texto-sobreNos p {
    font-family: Arial, sans-serif;
    color: var(--cor-texto);
    font-size: 1.125rem;
    /* Alterei para rem */
    line-height: 1.4;
    margin-bottom: 0.9375rem;
    /* Alterei para rem */
    text-align: justify;
    hyphens: auto;
    word-break: break-word;
}

.texto-sobreNos p:last-child {
    margin-bottom: 0;
}

.barra-dourada {
    margin: 0.9375rem 0;
    /* Alterei para rem */
    height: 4px;
    width: 3.75rem;
    /* Alterei para rem */
    background-color: var(--cor-dourado);
}

.certificacao-caixa {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    /* Alterei para rem */
}

.icone-sobreNos  {
    height: 1.25rem;
    /* Alterei para rem */
}

.titulo-certificado {
    margin-bottom: 0.5rem;
    /* Alterei para rem */
}

.titulo-span {
    font-family: "times", Arial, Helvetica, sans-serif;
    color: #2B2B2B;
    font-weight: 700;
    font-size: 1.125rem;
    /* Alterei para rem */
}

.texto-span {
    font-family: sans-serif;
    font-weight: 500;
    color: var(--cor-marrom-escuro);
    font-size: 0.9375rem;
    /* Alterei para rem */
}

.experiencia-sobreNos,
.equipe-sobreNos,
.atendimento-sobreNos,
.compromisso-sobreNos {
    padding: 0.625rem 0.625rem;
    /* Alterei para rem */
    border: 1px solid #C9A74B;
    border-radius: 1.25rem;
    /* Alterei para rem */
}

.btn-escritorio-saiba-mais-desktop,
.btn-escritorio-saiba-mais-tablet {
    display: none;
}

.btn-escritorio-saiba-mais-desktop:hover,
.btn-escritorio-saiba-mais-tablet {
    color: var(--cor-dourado);
    background-color: var(--cor-texto);
}

.c {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: var(--cor-creme);
    max-width: 800px;
    width: 100%;
    padding: 10px 30px 30px 30px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    max-height: 90vh;
    position: relative;
    color: var(--cor-texto);
    font-size: 1.125rem;
    line-height: 1.4;
    font-family: 'Arial', sans-serif;
    text-align: justify;
    hyphens: auto;
}

@media (max-width:1200px) {
    .texto-saiba-mais-escritorio-desktop {
        display: none;
    }

    .btn-escritorio-saiba-mais-desktop {
        display: block;
        font-size: 0.9rem;
        font-weight: bolder;
        padding: 10px;
        border-radius: 15px;
        background-color: var(--cor-laranja-queimado);
        color: #fff;
        border: transparent;
        cursor: pointer;
    }
}

@media (max-width: 75rem) {

    /* 1200px */
    .imagem-sobreNos {
        width: 100%;
    }
}

@media (max-width: 960px) {

    /* 960px */
    .imagem-sobre-nos {
        display: none;
    }

    .certificacao-caixa {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #sobreNos {
        flex-direction: column-reverse;
    }
}


@media (max-width: 815px) {
    .btn-escritorio-saiba-mais-desktop {
        display:none;
    }
    .btn-escritorio-saiba-mais-tablet {
        display: block;
        font-size: 0.9rem;
        font-weight: bolder;
        padding: 10px;
        border-radius: 15px;
        background-color: var(--cor-laranja-queimado);
        color: #fff;
        border: transparent;
        cursor: pointer;
    }
    #sobreNos {
        height:100%;
        padding:1rem 0;
    }
    .texto-saiba-mais-escritorio-tablet {
        display:none;
    }
}


@media (max-width: 34.375rem) {

    /* 550px */
    .certificacao-caixa {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 25rem) {

    /* 400px */
    .titulo-sobreNos h2 {
        font-size: 1.3125rem;
        /* Alterei para rem */
    }

    .texto-sobreNos p {
        font-size: 1.0625rem;
        /* Alterei para rem */
    }

    .titulo-span {
        font-weight: 600;
        font-size: 1.125rem;
        /* Alterei para rem */
    }

    .texto-span {
        font-size: 1.0625rem;
        /* Alterei para rem */
    }
}